<%= render 'side_bar/daily_office_side_bar' %>
<h3><%= I18n.t 'views_expense_application.title' %></h3>

<p>
  <label><%= I18n.t 'views_expense_application.item_name' %></label><br />
  <%= @expense_application.item_name %>
</p>

<p>
  <label>
    <%= I18n.t 'views_expense_application.use' %>
  </label><br />
  <%= @expense_application.use %>
</p>

<p>
  <label>
    <%= I18n.t 'views_expense_application.sum' %>
  </label><br />
  <%= @expense_application.sum %>
</p>

<p>
  <label>
    <%= I18n.t 'views_expense_application.reason' %>
  </label><br />
  <%= @expense_application.reason %>
</p>

<p>
  <label for="state">
    <%= I18n.t 'activerecord.attributes.application_receiver.state', :default => 'Status' %>
  </label><br />
  <% @expense_application.application_receivers.each do |a_receiver| %>
    <%= a_receiver.receiver.real_name + " : " +I18n.t("activerecord.state.application.#{a_receiver.state}") %> <br/>
    <% if a_receiver.rejected? %>
      <%= I18n.t("activerecord.attributes.application_receiver.reason") + " : " %><br/>
      <div class='application_receiver_reason'>
        <%= a_receiver.reason %>
      </div>
    <% end %>
  <% end %>
</p>

<%= link_to I18n.t('operate.back'), expense_applications_path %>
