
<h1>请登录</h1>

<%= form_tag session_path do %>
<div id="password_fields">
<p><%= label_tag I18n.t('txt.login_name', :default => '用户名') %><br />
<%= text_field_tag 'name', @name %></p>

<p><%= label_tag I18n.t('txt.password', :default => '密码') %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= label_tag 'remember_me', I18n.t('txt.remember_me', :default => 'Remember me') %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag '登录' %>
</p>
</div>

<% end %>


