<%= render 'users/sys_manage_sidebar' %>
<h1>个人设置</h1>

<p class="subtitle"><%= I18n.t 'txt.views_users.for_user', :default => '-- %{user}', :user => @user.real_name %></p>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => "settings", :object => f %>
  <p><%= submit_tag  '更新设置' %></p>
<% end %>
<br />


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
