<%= render 'side_bar/sys_manage_sidebar' %>
<p id="notice"><%= notice %></p>

<h3><%= I18n.t 'views_users.persional_infos' %></h3>

<p>
	<label for="name">
		<%= I18n.t 'activerecord.attributes.user.name', :default => 'Login Name' %>
	</label><br />
	<%= @user.name %>
</p>

<p>
  <label for="real_name">
  	<%= I18n.t 'activerecord.attributes.user.real_name', :default => 'Real Name' %>
  </label><br />
  <%= @user.real_name %>
</p>

<p>
  <label for="email">
  	<%=  I18n.t 'activerecord.attributes.user.email', :default => 'Email' %>
  </label><br />
  <%= @user.email %>
</p>

<p>
  <label for="add_roles">
  	<%= I18n.t 'activerecord.models.role', :default => 'Role' %>
  </label><br />
  <% Role.all.each do |role| %>
  	<% if @user.roles.include?(role) %>
    	<label><%= role.name %></label>
    <% end %>
  <%end%>
</p>

<p>
  <label for="add_positions">
  	<%= I18n.t 'activerecord.models.position', :default => '职位' %>
  </label><br />
  <%Position.all.each do |position| %>
    <%if @user.positions.include?(position)%>
      <label><%= position.name %></label>
   	<%end%>
  <%end%>
</p>

<%= link_to I18n.t('operate.edit'), edit_user_path(@user) %> |
<%= link_to I18n.t('operate.back'), users_path %>
