<%= render 'side_bar/daily_office_side_bar' %>
<h3><%= I18n.t 'activerecord.attributes.application.title' %></h3>

<p>
  <label><%= I18n.t 'activerecord.attributes.application.sender' %></label><br />
  <%= @leave_application.sender_real_name %>
</p>

<p>
  <label><%= I18n.t 'views_leave_application.leave_time' %></label><br />
  <%= @leave_application.start_at %> ---
  <%= @leave_application.end_at %>
</p>

<p>
  <label for="content">
    <%= I18n.t 'views_leave_application.leave_for' %>
  </label><br />
  <%= @leave_application.reason %>
</p>

<p>
  <label for="created_at">
    <%= I18n.t 'activerecord.attributes.application.created_at' %>
  </label><br />
  <%= @leave_application.created_at %>
</p>

<!-- <p>
  <label for="state">
    <%= I18n.t 'activerecord.attributes.application_receiver.state', :default => 'Status' %>
  </label><br />
  <% @leave_application.application_receivers.each do |a_receiver| %>
    <%= a_receiver.receiver.real_name + " : " +I18n.t("activerecord.state.application.#{a_receiver.state}") %> <br/>
    <% if a_receiver.rejected? %>
      <%= I18n.t("activerecord.attributes.application_receiver.reason") + " : " %><br/>
      <div class='application_receiver_reason'>
        <%= a_receiver.reason %>
      </div>
    <% end %>
  <% end %>
</p> -->

<%= render("application/detail_state_info", :application=>@leave_application)%>

<%= link_to I18n.t('operate.back'), admin_leave_applications_path %>
