<div>
<table border="1" width="100%">
  <tr>
    <td width="20%" class="la">
      <label>
        <%= I18n.t 'activerecord.attributes.leave_application.start_at' %>
      </label>
    </td>
    <td width="30%" class="la"><%= application.start_at %></td>
    <td width="20%" class="la">
      <label>
        <%= I18n.t 'activerecord.attributes.leave_application.end_at' %>
      </label>
    </td>
    <td width="30%" class="la"><%= application.end_at %></td>
  </tr>

  <tr>
    <td>
      <label for="use">
       <%= I18n.t 'activerecord.attributes.leave_application.use'%>
      </label>
    </td>
    <td colspan="3"><%= application.use%></td>
  </tr>

  <tr>
    <td>
      <label for="reason">
        <%= I18n.t 'activerecord.attributes.leave_application.reason' %>
      </label>
    </td>
    <td colspan="3"><%= application.reason %></td>
  </tr>

  <%= render("application/detail_state_info", :application => application) %>
</table>
</div>
